
h1 {
    text-align: left;
    font-family: cursive;
    font-weight: bold;
}

p {
    margin: 1rem; 
}
.column {
    float: left; 
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}



  
.timeline {
    position: relative;
    margin: auto auto;
    width: 80%;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: red;
    top: 0;
    bottom: 0;
    right: 75%;
    margin-left: -3px;
  }

    /* The actual content */
.timeline_content {
    padding: 20px 30px;
    width: 80%; 
    border: 5px solid red;
    position: relative;
    border-radius: 10px;
  }
  

.timeline_year {
    padding: 10px 5%;
    position: relative;
    width: 80%;
    left: 25%; 
  }
 /* .timeline_year::after { 
      margin: auto;
      content: ''; 
      position: absolute;
      width: 25px;
      height: 25px;
      right: 97.5%;
      background-color: lightsteelblue;
      border: 4px solid #FF9F55;
      top: 15px;
      border-radius: 50%;
      z-index: 1
  } */

  .timeline_year::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    right: 98%;
    border: medium solid red;
    border-width: 10px 10px 10px 0;
    border-color: transparent red transparent transparent;
  }



  

