.posts {
    list-style-type: none; 
    margin: 20px;
}

.post {
    margin: 1rem 0; 
    a {
        background: green;
        display: block; 
        padding: 1rem; 
        text-decoration: none;

    }
    a:hover {
        background: #c2c2c2;
    }

    h2 {
        margin-bottom: 0;
        font-family: 'Times New Roman', Times, serif;
    }

    p {
        color: #777777; 
        font-size: .8rem
    }
}